html {
    background-size: cover;
    background-color: white;
  }

  .menu {
    display: block;
    background-color: #5289B5;
    border-right: 5px double;
    border-top: 5px double;
    border-bottom: 5px double;
    border-color: black ;
    width: 15%;
}

.Bar_Options{
    padding : 10px; 
    border : 10px;
    background-color: #EDF2F3 ;
    height: fit-content;
    margin-bottom: 10px;
}

.titlebar{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
  font-size: large;
  border: 3px ;
  border-style:solid;
  font-weight: 500;
  margin-bottom: 5px;
}

.custominput
{
  margin-bottom: 5px;
}

.custom{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
  font-size: large;
  font-weight: 500;

}

.options {

  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #1F3541;
  font-size: medium;
  color: white;
  margin: 2px;

}

/*Navy Blue
#1F3541

Blue Grotto
#5289B5

Baby Blue
#AFD8F2

White
#EDF2F3*/


.SearchBar
{
  background-color: black;
  text-align: center;
  padding: 10px;

}

.SearchBar > input
{
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 70%;
  height:auto ;
  size: 100px;
  font-size: x-large;
  position: relative;
  font-family:'Times New Roman', Times, serif
}

.SearchBar > input:focus
{
  outline: none;
}

.header{
  display: flex;
  height: 120px;
}

.images{
  background-color: #5289B5;
  width: 15%;
  height: 100%;
}

.images > img{
  height: 100%;
  width: 100%;
  
}

.loginpromt
{
  width: 20%;

}

.loginwelcome{
  background-color: #AFD8F2;
  text-align: center;
  font-size: x-large;
  padding: 5px;
  font-family:Arial, Helvetica, sans-serif ;
  width: 100%;
  height: 60%;
}

.loginbuttons
{
  background-color: aqua;
  width: 100%;
  display: flex;
  border: 5px;
  border-color: black;
  height: 30%;
}

.loginbtn{
  background-color: #5289B5;
  color: white;
  cursor: pointer;  
  width: 100%;
  height: 100%;
}

button:hover {
  opacity: 0.8;
}

.login
{
  width: 50%;
}

.register
{
  width: 50%;
}

.search {
  width: 145%;
  text-align: center;
  font-size: xx-large;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  padding: 0px;
  position: relative;
  right: 30px;
  top : 3px ; 
  background-color: black;
  color: #AFD8F2;
  outline: none;
  border: 0px;
  border-radius: 5px;
}

.Card{
    margin: 10px 20px 0 20px ;
    border-radius: 20px;
    display: grid ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    width: 15%;
    height: fit-content;
}

.Card:hover{
    box-shadow:  0 8px 16px rgba(0, 0, 0, 10);
}

.Container {
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    text-align: center;
    bottom: 10px;
}

.title {  
  font-family: 'Times New Roman', Times, serif ;
  font-size:30px;
  color: black;
  padding-left: 10px;
  width: inherit;
  text-align: center;

}

.features {
  font-family: 'Times New Roman', Times, serif ;
  font-size: 24px;
  color: black;
  padding-left: 10px;
  width: inherit;
  text-align: center;
  position: relative;
  bottom: 0px;
}

body {
  margin: 0px;
}

.ImgText{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calabri', 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-style: italic;
    color: white;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.ImgDiv{  
    box-shadow: 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.ImgDiv > img {
  position: relative;
  width:100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.Cardnewrelease{
  margin: 10px 20px 0 20px ;
  border-radius: 20px;
  height:700px ; 
  display: flex ;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.Containernewrelease {
  background-color: white;
  width:100% ; 
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;

  border-style: solid;
  border: 10px ;
}

.cast
{
  background-color: #5289B5;
  height: 48%;
  text-align: left;
  border-top-right-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 500;
  padding: 5px;
}

.descriptionnewrelease{
  background-color: #5289B5;
  height: 48%;
  text-align: left;
  border-top-right-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 500;
  padding: 5px;
}

.checked {
  color: orange;
}


.ratings{
  background-color: #5289B5 ;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 5%;
  border-left: 4px;
  border-right: 4px;

  border-style: solid;
}

.extraimages{
  background-color: #AFD8F2 ;
  height:40% ;
  border: 4px;
  border-style: solid;
  border-bottom-right-radius: 5px;

}

.imagecontainer{
  height: 50%;
  margin: 5%;
  display: flex;
  padding: 10px;
}

.imageextracard
{
  height: 100%;
  width: 20% ;
  margin: 1%;
  border-radius: 10px ;
}


.imageextracard:hover
{
  box-shadow:  0 8px 16px rgba(0, 0, 0, 10);  
}

.imageextracard > img
{
  height: 100% ;
  width: 100%;
  border-radius: 10px ;
}

.ImgDivnewrelease{  
  box-shadow: 10px rgba(0, 0, 0, 0.2);
  position: relative; 
  width: 70%;
}

.ImgDivnewrelease > img {
position: relative;
width:100%;
height: 100%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.movies{
  height:auto;
  width: 100%;
}

.newrelease{
  background-color: #1F3541;
  width: 100%;
  height: fit-content;
  align-content: center;
  padding-bottom: 10px;
}

.genretitle {
  top: 10px;
  color: white;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.genre {
    padding: 0px 10px 10px 0px;
    background-color:#1F3541;
    display: flex;
    margin-bottom: 10px ;
}

.content{
    display:flex;
    height:fit-content;
  }

footer {
    background-color: black;
    text-align: center;
    align-self: auto;
    width: 100%;
}

footer > p {
  color: white;
}

.Listings > a {
  width: 10px;
}